.signIn {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}


/* .signIn {
  color: red;
 background-color: pink; 
  }


.container {
margin-top: 200px;
direction: rtl;
}

.title {
  font-size: 20px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #c09096;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
} */